# This is a basic workflow to help you get started with Actions

name: TestProjectCompilation

# Controls when the workflow will run
on:
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    
      - uses: actions/checkout@v3
      
      
      - uses: actions/checkout@v3
        with:
          repository: guganana/EmptyProject
          path: "./EmptyProjectRoot"
          
      - uses: "./"
        with:
          enginePath: "{{ secrets.ENGINE_DOWNLOAD_PATH }}"
          projectPath: "./EmptyProjectRoot"
          enginePathIsDownload: true
